@model IEnumerable<ApplicationUser>
    @{
        ViewBag.PageTitle = "Users Page";
        ViewBag.CardTitle = "Users List";
    }

    <div>
        <a href="/Identity/Account/Register" class="btn btn-success">Create new user</a>
    </div>

    <br />
    <table class="table table-hover" width="100%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Operations</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>
                    @if(item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                     {
                    <a class="btn btn-success" asp-action="LockUnLock" asp-route-id="@item.Id">
                        <i class="fas fa-lock-open"> </i>
                    </a>
                }else
                {
                    <a class="btn btn-danger" asp-action="LockUnLock" asp-route-id="@item.Id">
                        <i class="fas fa-lock"> </i>
                    </a>
                }
                <a href="/Admin/Users/Delete/@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>

